:root {
  /* colors */
  --btn: #9b51e0;
  --white-color: #ffffff;
  --logo-text-color: #c3c8d4;
  --sidebar-bgc: #1e1e1e;
  --sidebar-hover-color: #58209d;
  --sidebar-text-color: #aeaeae;
  --dashboard-box-bgc: #2d2d2d;
  --login-register-input-text-color: #475069;

  /* font */
  --common-font: "Raleway", sans-serif;
}
